.titulo {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    font-family: var(--fonte-love);
    font-size: 1.5rem;
}

.forca {
    display: flex;
    justify-content: space-around;
    fill: transparent;
    stroke: var(--cor-preta);
    stroke-width: 0.2rem;
    stroke-linecap: round;
}

.forca-parte {
    display: none;
}


.btn-jogo {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.botoes-jogo {
    margin-top: 0.8rem;
    padding: 0.8rem;
    font-size: 0.8 rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--cor-5);
    cursor: pointer;
    background-color: var(--cor-1);
    font-family: var(--fonte-goaround);
    font-weight: bold;
}

.botoes-jogo:hover {
    color: var(--cor-branca);
}

.botoes-jogo:active {
    background-color: var(--cor-6);
}

.aviso-palavra-repetida {
    /* display: none; */
    background-color: transparent;
    color: transparent;
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 1rem 1.5rem;
    position: fixed;
    bottom: 1rem;
    transition: transform 0.5s ease-in-out;
}

.aviso-palavra-repetida p {
    margin: 0;
}

.aviso-palavra-repetida.show {
    transform: translateY(-1.5rem);
    background-color: var(--cor-5);
    color: var(--cor-branca);
}

.escrever {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.letras-erradas {
    font-size: 2rem;
}

.palavra-secreta {
    font-size: 3rem;
}

.palavra-secreta span {
    margin: 0 0.5rem;
}

.aviso-final {
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 20rem;
	padding: 2rem 5rem;
	box-shadow: 4px 8px 10px 2px rgba(0, 0, 0, 0.363);
	background: var(--cor-1);
	border: 1px solid var(--cor-2);
    border-radius: 2rem;
	align-items: center;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
    display: none;
}

.aviso h2 {
    padding-bottom: 0.5rem;
}

#btn-jogar {
    color: var(--cor-branca);
    background-color: var(--cor-6);
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem ;
    cursor: pointer; 
}

#btn-jogar:hover {
    background-color: var(--cor-2);
}

@media (max-width: 930px) {
    .titulo {
        flex-direction: column;
    }
}